@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <style>
        body {
            background: linear-gradient(to right, #ff9900, #ff3366); /* Горизонтальный градиент */
        }
    </style>
    <h1 class="display-4">Вивчав HTML, CSS</h1>
    
    <p>Знаю C#, ООП</p>
    <div>
        База даних, система управління базами даних <b>(СУБД) SQL Server</b>, <i>мова SQL</i>.
    </div>
    <span>
        <img src="https://www.alleycat.org/wp-content/uploads/2019/03/FELV-cat.jpg" alt="CAT">
    </span>
</div>

