body{
background: #ffeedd;
}
table{
width: 50%;
height: 30%;
border: solid 2mm black;
position: absolute;
right: 20px;
top: 20px;
border-collapse: collapse;
background: #ddeeff;
}
td{
border: solid 1mm lightgray;
text-align: center;
transition-property:color, background;
}
em{
font-family: Arial, sans-serif;
font-size: 20mm;
font-weight: 1000;
font-style: normal;
}
td:hover{
color:red;
background: green;
}
tr{
transition-property: background;
}
tr:hover{
background: yellow;
}