@model Lab_9.Models.Immovables

<h2> Додавання користувача </h2>


<form asp-action="create" asp-controller="home">

    <p>
        <label asp-for="Name"> Ім'я </label><br />
        <input type="text" asp-for="Name" />
    </p>

    <p>
        <select asp-for="Type">
            <option value="Floor">Floor</option>
            <option value="House">House</option>
            <option value="Another">Another</option>
        </select>
    </p>

    <p>
        <select asp-for="Class" >
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
        </select>
    </p>

    <p>
        <input type="submit" value=" Відправити " />
    </p>

</form>