@model int
@{
    ViewBag.Title = "About";
}

<h3>About Content</h3>
<h3>About Content</h3>
<h3>About Content</h3>
<h3>About Content</h3>
<h3>About Content</h3>
<h3>About Content</h3>
<h3>About Content</h3>
<b> @Model</b>